/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./sih.jpg);
    background-size: cover;
    height: 100vh; /* Set to 100vh for a full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* styles.css */

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 5;
}


nav ul li {
    display: inline;
    margin: 0 20px;
    position: relative;
}

nav ul li:hover {
    text-decoration: underline;
    transition: text-decoration 0.3s ease;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh; 
    flex-direction: column;
    position: relative;
}

.contact-icons {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.contact-icons a {
    color: white;
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
}

.contact-box {
    background-color: #fcf6d3;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
    text-align: left;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
    color: #2e1d1d;
    text-align: center;
    width: fit-content;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    color: #6d350d;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #eeb786;
    color: #ffffff;
}

button[type="submit"] {
    background-color: #582500;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #461600;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
    position: fixed;
}
